.columns-2 #postbox-container-1 {
	width: 60%;
}
.columns-2 #postbox-container-2 {
	width: 38%;
	margin-left: 2%;
}
.postbox .hndle {
	cursor: default; 	
}

.columns-2.full-width #postbox-container-1 {
	width: 90%;
}
.columns-2.full-width #postbox-container-2 {
	width: 8%;
	margin-left: 2%;
}
.columns-2.full-width #postbox-container-2 .stuffbox, .columns-2.full-width #postbox-container-2 .description {
	display: none;
}

.columns-2 #postbox-container-2 .toggle-plugin .icon {
	background: transparent url(../../../wp-admin/images/arrows.png) no-repeat 0 -107px;
	padding-left: 16px;
}
.columns-2.full-width #postbox-container-2 .toggle-plugin .icon {
	background-position: 0 -72px;
}



#postbox-container-1 .memo_show {
	padding: 10px;
	background-color: #fffbcc;
	border: 1px solid #e6db55;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 10px;
}
.columns-2 #postbox-container-1 .postbox.memo {
	display: none;
}



form#coppi_create textarea {
	width: 90%;
}




form#coppi_update_cat .category_edit {
	display: none;
}


.update_table table thead th.create_date {
	width: 10%;
}
.update_table table thead th.category {
	width: 10%;
}
.update_table table thead th.option_name {
	width: 20%;
}
.update_table table thead th.template_tag {
	width: 20%;
}
.update_table table thead th.shortcode {
	width: 20%;
}
.update_table table thead th.operation {
	width: 10%;
}


.update_table table tbody td .off {
	display: none;
}
.update_table table tbody td.option_name input,
.update_table table tbody td.option_value textarea {
	width: 100%;
}
.update_table table tbody td.operation {
	padding-top: 8px;
	padding-bottom: 8px;
}






.update_table div#Confirm {
	display: none;
}
